In [6]:
import pandas as pd
import json

Сделать новый файл с матчами

In [12]:
src = []
with open( "matches.json", 'r', encoding='utf-8', newline='' ) as f:
    src = json.load(f)
print(f"Loaded {len(src)} matches")
dst = []
for m in src:
    m_new = {}
    for k,v in m.items():
        if k in ["home", "away"]:
            m_new[k] = v["name"]
        # elif k == "quarters":
        #     m_new["q1"] = v["1"]
        #     m_new["q2"] = v["2"]
        #     m_new["q3"] = v["3"]
        #     m_new["q4"] = v["4"]
        #     m_new["ot"] = v["5"]
        elif k == "odds":
            m_new["odd_h"] = v["home"]
            m_new["odd_a"] = v["away"]
            for ttl in v['total']:                
                if float( ttl[1] ) < 1.97  and float( ttl[2] ) < 2.0 :
                    m_new['total'] = ttl[0]
        elif k in ["score", "date"]:
            m_new[k] = v
    dst.append(m_new)   

with open( "matches_clean.json", 'w', encoding='utf-8', newline='' ) as f:
    json.dump(dst, f, ensure_ascii=False, indent=4)

Loaded 444 matches

In [56]:
all_matches = pd.read_json("matches_clean.json" )
all_matches["score_h"] = all_matches["score"].apply( lambda x: int (x.split(":")[0] )  ) 
all_matches["score_a"] = all_matches["score"].apply( lambda x: int (x.split(":")[1] )  ) 
# del all_matches["score"]
all_matches.tail(13)

,date,home,away,odd_h,odd_a,total,score_h,score_a
431,2022-10-20 05:00:00,Финикс Санс,Даллас Маверикс,1.56,2.45,219.0,112,124
432,2022-10-20 04:00:00,Юта Джаз,Денвер Наггетс,3.15,1.37,225.5,112,124
433,2022-10-20 03:00:00,Миннесота Тимбервулвз,Оклахома-Сити Тандер,1.13,6.20,232.5,112,124
434,2022-10-20 03:00:00,Сан-Антонио Спёрс,Шарлотт Хорнетс,1.94,1.87,232.5,112,124
435,2022-10-20 02:30:00,Атланта Хокс,Хьюстон Рокетс,1.19,4.80,234.5,112,124
436,2022-10-20 02:30:00,Бруклин Нетс,Нью-Орлеан Пеликанс,1.69,2.18,232.5,112,124
437,2022-10-20 02:30:00,Майами Хит,Чикаго Буллз,1.31,3.45,216.5,112,124
438,2022-10-20 02:30:00,Мемфис Гриззлис,Нью-Йорк Никс,1.54,2.49,227.5,112,124
439,2022-10-20 02:30:00,Торонто Рэпторс,Кливленд Кавальерс,1.70,2.16,217.0,112,124
440,2022-10-20 02:00:00,Детройт Пистонс,Орландо Мэджик,1.65,2.25,216.5,112,124
441,2022-10-20 02:00:00,Индиана Пэйсерс,Вашингтон Уизардс,2.17,1.70,229.0,112,124
442,2022-10-19 05:00:00,Голден Стэйт Уорриорз,Лос-Анджелес Лейкерс,1.31,3.50,224.0,112,124
443,2022-10-19 02:30:00,Бостон Селтикс,Филадельфия Сиксерс,1.67,2.22,216.5,112,124

In [54]:
under_total = all_matches[ (all_matches["score_a"] + all_matches["score_h"] )  < all_matches["total"]]
under_total.head()

,date,home,away,odd_h,odd_a,total,score_h,score_a
1,2022-12-18 04:00:00,Кливленд Кавальерс,Даллас Маверикс,1.26,3.95,212.5,100,99
2,2022-12-18 04:00:00,Милуоки Бакс,Юта Джаз,1.77,2.06,228.0,123,97
3,2022-12-18 04:00:00,Оклахома-Сити Тандер,Мемфис Гриззлис,5.60,1.15,229.5,115,109
4,2022-12-18 04:00:00,Хьюстон Рокетс,Портленд Трэйл Блэйзерс,2.22,1.67,228.5,95,107
5,2022-12-18 01:00:00,Сан-Антонио Спёрс,Майами Хит,3.60,1.29,223.5,101,111